---
import { CenterTitle } from "./UI";
import { ContactForm } from "./Preact";
import { ContactArt } from "../assets/SVGs";
import { Image } from "astro:assets";
import { personalInfo } from "../constants/cv-data";
---

<section
    id="contact"
    class="w-full min-h-screen mb-16 lg:mb-[15em] px-6 py-4 pt-14 bg-background"
>
    <CenterTitle title="Contact" color="primary" />

    <div class="w-full flex_center flex-col p-4 text-[1.2em] text-center">
        <h3
            class="Fade_Up gradientText font-ubuntu text-[2rem] lg:text-[2.4rem]"
        >
            Let's collaborate!
        </h3>
        <p class="Fade_Up">Contact me to discuss your web development needs</p>
        <p class="Fade_Up">or just to say hello. 😉</p>
    </div>

    <div
        class="flex_center flex-col lg:flex-row w-full h-full gap-4 lg:gap-10 lg:px-20 pt-8 pb-16"
    >
        <div class="relative w-full flex_center flex-col">
            <div
                class="Fade_Up w-full max-w-[350px] scale-[0.9] lg:scale-1 lg:max-w-[450px] aspect-square rounded-full border-2 border-dashed border-contactSocialColor mb-8 md:mb-0 md:mt-7"
                id="socialCircle"
            >
                <a
                    href={`https://linkedin.com/${personalInfo.linkedin}`}
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="LinkedIn"
                    target="_blank"
                    aria-label="LinkedIn"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 16 16"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href={`https://github.com/${personalInfo.github}`}
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="GitHub"
                    target="_blank"
                    aria-label="GitHub"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 16 16"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href={`https://${personalInfo.portfolio}`}
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Portfolio"
                    target="_blank"
                    aria-label="Portfolio"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 16 16"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href={`mailto:${personalInfo.email}`}
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Email"
                    target="_blank"
                    aria-label="Email"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        role="img"
                        viewBox="0 0 24 24"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <title></title>
                        <path
                            d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
                        >
                        </path>
                    </svg>
                </a>
                <a
                    href="https://www.instagram.com/yourhandle/"
                    class="socialIcon absolute w-12 lg:w-16 aspect-square flex_center p-2 lg:p-4 bg-background outline-dashed outline-2 outline-contactSocialColor rounded-full"
                    title="Instagram"
                    target="_blank"
                    aria-label="Instagram"
                    rel="noreferrer"
                >
                    <svg
                        stroke="currentColor"
                        fill="currentColor"
                        style="color: var(--heroSocialColor);"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
                        >
                        </path>
                    </svg>
                </a>
                <svg
                    stroke="currentColor"
                    fill="currentColor"
                    style="color: var(--heroSocialColor);"
                    width="30px"
                    height="22px"
                    viewBox="0 0 30 22"
                    version="1.1"
                >
                    <g id="surface1">
                        <path
                            d="M 24.957031 1.863281 C 28.207031 6.65625 29.8125 12.058594 29.210938 18.277344 C 29.210938 18.304688 29.195312 18.328125 29.175781 18.34375 C 26.714844 20.15625 24.332031 21.257812 21.980469 21.984375 C 21.941406 21.996094 21.902344 21.984375 21.878906 21.949219 C 21.335938 21.191406 20.84375 20.394531 20.410156 19.554688 C 20.386719 19.507812 20.410156 19.445312 20.460938 19.425781 C 21.242188 19.132812 21.988281 18.777344 22.703125 18.355469 C 22.761719 18.324219 22.765625 18.242188 22.710938 18.203125 C 22.5625 18.089844 22.410156 17.972656 22.265625 17.851562 C 22.238281 17.828125 22.203125 17.824219 22.171875 17.839844 C 17.519531 19.996094 12.421875 19.996094 7.714844 17.839844 C 7.683594 17.828125 7.648438 17.832031 7.621094 17.851562 C 7.480469 17.972656 7.328125 18.089844 7.175781 18.203125 C 7.125 18.242188 7.128906 18.324219 7.1875 18.355469 C 7.902344 18.769531 8.648438 19.132812 9.429688 19.429688 C 9.480469 19.449219 9.503906 19.507812 9.480469 19.554688 C 9.058594 20.394531 8.5625 21.195312 8.011719 21.953125 C 7.988281 21.984375 7.945312 21.996094 7.910156 21.984375 C 5.570312 21.257812 3.1875 20.15625 0.726562 18.34375 C 0.707031 18.328125 0.691406 18.304688 0.691406 18.277344 C 0.1875 12.898438 1.210938 7.449219 4.9375 1.863281 C 4.949219 1.847656 4.960938 1.835938 4.976562 1.828125 C 6.8125 0.984375 8.777344 0.363281 10.832031 0.0078125 C 10.871094 0.00390625 10.90625 0.0195312 10.925781 0.0546875 C 11.179688 0.503906 11.46875 1.082031 11.667969 1.554688 C 13.832031 1.222656 16.03125 1.222656 18.242188 1.554688 C 18.4375 1.09375 18.71875 0.503906 18.972656 0.0546875 C 18.992188 0.0195312 19.027344 0.00390625 19.066406 0.0078125 C 21.121094 0.363281 23.085938 0.984375 24.921875 1.828125 C 24.9375 1.835938 24.949219 1.847656 24.957031 1.863281 Z M 12.769531 12.09375 C 12.789062 10.503906 11.632812 9.1875 10.183594 9.1875 C 8.742188 9.1875 7.597656 10.492188 7.597656 12.09375 C 7.597656 13.695312 8.765625 15 10.183594 15 C 11.621094 15 12.769531 13.695312 12.769531 12.09375 Z M 22.324219 12.09375 C 22.347656 10.503906 21.191406 9.1875 19.742188 9.1875 C 18.300781 9.1875 17.15625 10.492188 17.15625 12.09375 C 17.15625 13.695312 18.324219 15 19.742188 15 C 21.191406 15 22.324219 13.695312 22.324219 12.09375 Z M 22.324219 12.09375 "
                            ></path>
                        </g>
                    </svg>
                </a>
            </div>

            <Image
                class="Fade_Up absolute bottom-10 md:bottom-2 w-[300px] md:w-[400px]"
                src={ContactArt}
                alt="ContactArt"
                loading="lazy"
            />
        </div>

        <ContactForm client:load />
    </div>
</section>

<script is:inline type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const center = document.querySelector("#socialCircle");
        const images = document.querySelectorAll(".socialIcon");

        if (!center || !images.length) {
            console.error("Social circle or icons not found.");
            return;
        }

        const iconSize = images[0].clientWidth;
        const radius = Math.ceil((center.clientWidth + 2) / 2);

        images.forEach((image, index) => {
            const angle = (index / (images.length - 1)) * Math.PI;
            const x = Math.cos(-angle) * radius - iconSize / 2;
            const y = Math.sin(-angle) * radius - iconSize / 2;

            const imageStyle = image.style;
            const centerWidth = center.offsetWidth;
            const centerHeight = center.offsetHeight;

            imageStyle.left = `${centerWidth / 2 + x}px`;
            imageStyle.top = `${centerHeight / 2 + y}px`;
        });
    });
</script>
